/* reset */
body, h1, h2, h3, h4, h5, p, dl, dd, ul, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

body {
    color: #666;
    font-size: 12px;
    margin-top: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;

}

/* end reset */

/*头部导航 begin*/
.navbar-brand {
    padding: 0 10px 0 10px;
    text-align: center;
}

.navbar-brand a {
    text-decoration: none;
}

.navbar-header a p {
    line-height: 20px;
}

@media (max-width: 992px) {
    .navbar-brand img {
        width: 30px;
    }

    .navbar-brand {
        padding: 10px 8px 0 6px;
    }

    .slogan {
        font-size: 12px;
        margin-top: 28px;
    }
}

#menulist a {
    font-size: 14px;
}

.slogan {
    font-size: 14px;
    margin-top: 14px;
    font-family: "楷体";
}

/*头部导航 end*/

/*footer begin*/
footer {
    text-align: center;
    padding: 30px 0;
    background: #e6e6e6;
    border-top:4px solid #c2e1f5;
}

footer p {
    padding: 4px 0;
}

@media (max-width: 768px) {
    footer {
        padding: 10px 0;
    }

    footer h4 {
        font-size: 16px;
    }

    footer p {
        padding: 4px 0;
    }

}

/*footer end*/

/*index begin*/
/*banner begin*/
#banner img {
    margin: 0 auto;
    display: block;
}

/*banner end*/

/*why begin*/
.why {
    padding-bottom: 20px;
}

.why h3 {
    width: 240px;
    heigth: 30px;
    color: #91a2bc;
    font-weight: bold;
    margin: 50px auto 6px auto;
}

.why h4 {
    width: 320px;
    heigth: 30px;
    color: #91a2bc;
    margin: 20px auto 10px auto;
}

@media (max-width: 768px) {
    .why h3 {
        font-size: 16px;
        text-align: center;
        margin: 20px auto 4px auto;
    }

    .why h4 {
        font-size: 14px;
        text-align: center;
        margin: 10px auto 6px auto;
    }
}

.why .media {
    margin: 14px 0;
}

.why .media-heading {
    color: #91a2bc;
    margin: 10px 0;
}

/*why end*/

/*section1 begin*/
.device1 {
    padding: 30px 0;
    background: #c2e1f5;
}

@media (max-width: 768px) {
    .device_desc h3 {
        height: 24px;
        font-weight: bold;
        font-size: 16px;
    }
}

.device_desc {
    text-align: center;
}

.device_desc h3 {
    padding: 16px;
}

.device_desc p {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;

}

.device_desc p span {
    padding: 6px 20px;
    display: inline-block;
}

.device_desc p span:before {
    content: '> '
}

.device2 {
    padding: 30px 0;
    background: none;
}

.device3 {
    padding: 30px 0;
    background: #91a2bc;

}

/*section1 end*/
/*index end*/

/*about begin*/
.jumbanner {
    position: relative;
}

.jumbanner_tip {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    color: #ffffff;
    text-indent: 1em;
    line-height: 20px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}

.about_main {
    margin-top: 20px;
}

.about_content {
    padding-bottom: 100px;

}

.about_content h3 {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    background: #f8f8f8;
}

.about_content h3 p {
    height: 30px;
}

.about_content_title span {
    height: 20px;
    margin: 8px 0 0 6px;
    display: inline-block;
}

@media (max-width: 768px) {
    .about_main {
        margin-top: 0;
    }

    .about_content h3 {
        height: 50px;
        padding-top: 10px;
    }

    .about_content_title {
        font-size: 18px;
    }

    .about_content_title img {
        width: 30px;
    }

    .about_content_title span {
        height: 16px;
        margin: 10px 0 0 6px;
        display: inline-block;
    }

    .about_content .text-info {
        font-size: 14px;
    }
}

.about_content .text-info {
    margin: 30px 0 10px 0;
}

.about_content_text {
    text-indent: 2em;
}

.about_content_imglist {
    margin: 10px 20px;
}

#affix li a {
    padding-left: 14px;
}

.about_tel {
    margin-top: 10px;
    padding: 16px 0 10px 40px;
    border-top: 1px dashed gray;
    background: url(../images/about_tel.png) no-repeat 6px 4px;
}

.about_addr {

    width: 170px;
    padding-left: 40px;
    background: url(../images/about_adr.png) no-repeat 6px center;
}

/*about end*/

/*products begin*/
.products {
    margin-top: 10px;
}

.list_itme, .list-slide {
    /*border:1px solid gray;*/
    background: #ffffff;
    box-shadow: 2px 2px 3px gray;
}

.list_itme h4 {
    margin: 20px 0 10px 0;
}
@media (max-width: 768px) {
    .list_itme h4 {
        font-size:16px;
        margin: 10px 0 4px 0;
    }
}

.list_itme p, .list-slide p {
    line-height: 18px;
    text-indent: 2em;
}

.list-slide h3 {
    margin: 20px 0;
    padding-bottom: 10px;
    background: #ffffff;
    /*border-bottom: 1px solid gray;*/
}

/*products end*/

/*case begin*/
.case .thumbnail {
    width: 96%;
    overflow: hidden;
    box-shadow: 2px 2px 2px gray;
}
.case .thumbnail a {
    text-decoration: none;
}
.case .thumbnail .caption {
    border-top: 1px dashed gray;
}
/*case end*/

/*contact begin*/
.contact_wrap {
    background:#ffffff;
}
.contact_map {
    border:1px solid gray;
}
/*contact end*/